<body>
  <%= flash[:notice] %>
  <p>
    <strong>Title:</strong>
    <%= @book.title %>
  </p>
  <p>
    <strong>Body:</strong>
    <%= @book.body %>
  </p>
  <div>
    <p><%= link_to "Edit",edit_book_path(@book) %></p>
    <p>|</p>
　  <p><a href="/books">back</a></p>
　</div>


</body>